<h2 class="all-posts-list" id="yearChart">Breakdown by year</h2>
{% set maxposts = 1 %}
{% for year, yearPosts in postslist | groupByYear %}
  {% if yearPosts.length > maxposts %}
    {% set maxposts = yearPosts.length %}
  {% endif %}
{% endfor %}
<div class="barchart" style="--max: {{ maxposts }};">
{% for year, yearPosts in postslist | groupByYear %}
  <p class="line">
    <a href="#year{{year}}">
      <span class="legend">{{ year }}</span>
      <span class="bar" style="--p: {{ yearPosts.length}};">&nbsp;</span>
      <span class="count">{{ yearPosts.length }} posts</span>
    </a>
  </p>
{% endfor %}
</div>

