<!DOCTYPE html>
<html lang="en-GB">
  <head>
    {% include "includes/head.html.twig" %}
  </head>
  <body>
    <header class="masthead h-card">
    <p class="skip-link"><a href="#skip-content-target">Skip to the content</a></p>
        <div class="header-area">
            <div class="header-title">
            <hr class="nodisplay" aria-hidden="true">
            <span class="sitetitle">
                {% if metadata.logo %}<img class="logo u-logo u-photo" src="{{ metadata.logo }}" alt="" width="50" height="50">{% endif %}
                <a href="/" class="u-url p-name">{{ metadata.title }}</a>
            </span>
            <nav class="subtitle p-note" aria-label="Main">
                <ul>

{# Example menu from menus.yaml #}
{% if menus.header is defined %}
    {% for item in menus.header %}
                <li>
                    {{ item.pre }}
                    {% if item.title == "posts" %}
                        {{collections['posts']|length}}
                    {% endif %}
                    <a href="{{ item.link }}" class="{% if ((permalink == item.link) or ((permalink starts with item.link) and (item.link != '/'))) %}current{% endif %} {% if item.class %}{{ item.class }}{% endif %}">{{ item.title }}</a> 
                    {{- item.post }}
                </li>
    {% endfor %}
{% endif %}
                </ul>
{#                    {{ metadata.description }}  #}
            </nav>
            </div>
        </div>
    </header>
    <main id="site-content" {% if templateClass %} class="{{ templateClass }}"{% endif %}>
        <hr class="nodisplay" aria-hidden="true">
        <div class="main-content">
        {% block content %}
        {{ content | raw }}
        {% endblock %}
        </div> 
    </main>
    {% include "includes/footer.html.twig" %}
    <!-- Current page: {{ permalink }} -->
  </body>
</html>
