  <nav aria-label="Paging">
          <div class="prev-next">
            {%- if nextPagePermalink|length > 0 %}<a class="next" rel="next" href="{{ nextPagePermalink }}"><strong>« Newer:</strong> {{ nextPageTitle }}</a>{% else %} <strong>« Newer:</strong> This is the latest post!{% endif %}
    {#        {%- if nextPost and previousPost%} <br/> {% endif %} #}
            <br>
            {%- if prevPagePermalink|length > 0 %}<a class="prev" rel="prev" href="{{ prevPagePermalink }}"><strong>» Older:</strong> {{ prevPageTitle }}</a>{% else %} <strong>» Older:</strong> This is the first post!{% endif %}
          </div>
          <hr>
  </nav>

{#
  <nav aria-label="Paging">
      {%- if collections.posts %}
        {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
        {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {%- if nextPost or previousPost %}
          <div class="prev-next">
            {%- if nextPost %}<a class="next" rel="next" href="{{ nextPost.url | url }}"><strong>« Newer:</strong> {{ nextPost.data.title}}</a>{% else %} <strong>« Newer:</strong> This is the latest post!{% endif %}
    {#        {%- if nextPost and previousPost%} <br/> {% endif %} 
            <br>
            {%- if previousPost %}<a class="prev" rel="prev" href="{{ previousPost.url | url }}"><strong>» Older:</strong> {{ previousPost.data.title}}</a>{% else %} <strong>» Older:</strong> This is the first post!{% endif %}
          </div>
          <hr>
        {%- endif %}
      {%- endif %}
  </nav>
#}